<div class="sidebar" [ngClass]="{ expanded: isExpanded }">
  <div class="header">
    <h1 class="title">Bootstrap App</h1>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content">
    <div class="link">
      <div class="content" [routerLink]="['/landing']" [routerLinkActive]="'active'">
        <div class="icon">
          <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
          />
          <i class="bi bi-house"></i>
        </div>
        <div class="title">Home</div>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['/students']" [routerLinkActive]="'active'">
        <div class="icon">
          <i class="bi bi-list-ol"></i>
        </div>
        <div class="title">Students</div>
      </div>
    </div>
    <div class="link with-children">
      <div class="content">
        <div class="icon">
          <i class="bi bi-gear"></i>
        </div>
        <div class="title">Subjects</div>
      </div>
    </div>
  </div>
</div>
